@use "sass:color";


/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer {
  background-color: v.$color-primary;
  color: v.$color-text-light;
  padding: v.$spacing-xl v.$spacing-lg 0;
  border-top: 1px solid v.$color-border;
  font-size: v.$font-size-md;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: v.$spacing-lg;

    @include m.media-breakpoint-down(v.$breakpoint-md) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  .logoWrapper {
    flex: 1;
    @include m.media-breakpoint-down(v.$breakpoint-md) {
      margin-bottom: v.$spacing-lg;
    }
  }

  .linksGroup,
  .socialMedia {
    flex: 1;
    
    h3 {
      font-family: v.$font-heading;
      font-size: v.$font-size-lg;
      color: v.$color-secondary;
      margin-bottom: v.$spacing-sm;
    }

    ul {
      padding: 0;
      li {
        margin-bottom: v.$spacing-xs;
        a {
          color: v.$color-text-light;
          transition: color v.$transition-speed v.$transition-ease;
          &:hover {
            color: v.$color-accent;
          }
        }
      }
    }

    .socialIcons {
      display: flex;
      gap: v.$spacing-md;
      justify-content: flex-start;

      @include m.media-breakpoint-down(v.$breakpoint-md) {
        justify-content: center;
      }

      a {
        color: v.$color-secondary;
        transition: color v.$transition-speed v.$transition-ease;
        &:hover {
          color: v.$color-accent;
        }
      }
    }

    @include m.media-breakpoint-down(v.$breakpoint-md) {
      width: 100%;
    }
  }

  .brandInfo {
    flex: 1;
    p {
      margin: v.$spacing-xs 0;
    }
    @include m.media-breakpoint-down(v.$breakpoint-md) {
      margin-bottom: v.$spacing-lg;
    }
  }
}

.subFooter {
  margin-top: v.$spacing-lg;
  padding-top: v.$spacing-md;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include m.media-breakpoint-down(v.$breakpoint-md) {
    flex-direction: column;
    gap: v.$spacing-sm;
    text-align: center;
  }

  .credits,
  .madeIn {
    font-size: v.$font-size-sm;
    color: gray;
  }

  .madeIn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
    img {
      width: 20px;
      height: auto;
    }
  }
}

