@use '../../../styles/_variables' as v;
@use '../../../styles/_mixins' as m;

.dashboardPage {
background-color: v.$color-primary;
color: v.$color-text-light;
padding: v.$spacing-xl v.$spacing-md;
min-height: calc(100vh - 140px); // Ajusta para el navbar y footer
border-top: 1px solid v.$color-border;

.loading {
  @include m.flex-center;
  height: 200px;
  font-size: v.$font-size-lg;
  color: v.$color-accent;
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: v.$spacing-xl;
  padding-bottom: v.$spacing-md;
  border-bottom: 1px solid v.$color-border;

  h1 {
    font-family: v.$font-heading;
    font-size: v.$font-size-xxl;
    color: v.$color-secondary;
    margin: 0;
  }
}

.adminSection, .clientSection {
  background-color: v.$color-border;
  padding: v.$spacing-lg;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: v.$spacing-xl;

  h2 {
    font-family: v.$font-heading;
    font-size: v.$font-size-xl;
    color: v.$color-accent;
    margin-bottom: v.$spacing-md;
  }

  p {
    font-size: v.$font-size-md;
    margin-bottom: v.$spacing-lg;
  }
}

.productManagementGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: v.$spacing-lg;
  justify-items: center;
}

.adminProductItem {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-sm;
  width: 100%; // Asegura que la tarjeta de producto ocupe el ancho completo de la columna
  max-width: 300px; // Limita el ancho de la tarjeta de producto
  
  .adminActions {
    display: flex;
    gap: v.$spacing-sm;
    justify-content: center;
    margin-top: v.$spacing-sm;

    button {
      flex: 1;
    }
  }
}

.orderHistory {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-md;
}

.orderItem {
  background-color: v.$color-primary;
  padding: v.$spacing-md;
  border-radius: 6px;
  border: 1px solid v.$color-border;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  h3 {
    font-family: v.$font-heading;
    font-size: v.$font-size-lg;
    color: v.$color-secondary;
    margin-bottom: v.$spacing-xs;
  }

  p {
    font-size: v.$font-size-sm;
    margin-bottom: v.$spacing-xs;
  }

  ul {
    margin-top: v.$spacing-sm;
    margin-bottom: v.$spacing-sm;
    li {
      font-size: v.$font-size-sm;
      margin-left: v.$spacing-md;
      list-style: disc;
    }
  }

  .statusShipped {
    color: v.$color-accent;
    font-weight: bold;
  }

  .statusDelivered {
    color: green;
    font-weight: bold;
  }
}
}
