@use "sass:color";

/* Importar fuentes de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&family=Permanent+Marker&display=swap');

body {
margin: 0;
padding: 0;
font-family: v.$font-body;
color: v.$color-text-light;
background-color: v.$color-primary;
line-height: 1.6;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
   overflow-y: auto;            /* allow wheel / touch */
  -ms-overflow-style: none;    /* IE / old Edge */
  scrollbar-width: none;       /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar { display: none; }


a {
color: inherit;
text-decoration: none;
}

ul {
list-style: none;
padding: 0;
margin: 0;
}

h1, h2, h3, h4, h5, h6 {
font-family: v.$font-heading;
color: v.$color-secondary;
margin-top: 0;
margin-bottom: v.$spacing-sm;
text-transform: uppercase;
}

h1 { font-size: v.$font-size-xxl; }
h2 { font-size: v.$font-size-xl; }
h3 { font-size: v.$font-size-lg; }

section {
padding: v.$spacing-xl v.$spacing-md;

@include m.media-breakpoint-up(v.$breakpoint-md) {
  padding: v.$spacing-xxl v.$spacing-lg;
}
}

.container {
max-width: v.$breakpoint-xl;
margin: 0 auto;
padding: 0 v.$spacing-md;

@include m.media-breakpoint-up(v.$breakpoint-md) {
  padding: 0 v.$spacing-lg;
}
}

@font-face {
  font-family: "AC Brief Encounter";  
  src: url("/AC-BriefEncounter.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  
}
