
.dashboardContainer {
  display: flex;
  min-height: 100vh;
  background-color: v.$color-primary;

  @include m.media-breakpoint-down(v.$breakpoint-md) {
    flex-direction: column;
  }

  .mainContentArea {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: v.$color-primary;
  }

  .mainContent {
    flex-grow: 1;
    padding: v.$spacing-lg;
    overflow-y: auto;

    @include m.media-breakpoint-down(v.$breakpoint-md) {
      padding: v.$spacing-md;
    }
  }
}
